@using ChatA.Models;
@model ChatA.Models.ViewModels.IndexViewModel
@{
    Layout = "_layout";
}


<form action="update" method="POST" id="update">
    <h2>Update actual user</h2>
    <Label for="login">User name:</Label>
    <input type="text" id="username" name="username" required value="@Model.MyLoggedUser.UserName" /><br />
    @*<Label for="password">Password:</Label>
        <input type="text" id="password" name="password" required value="@Model.MyLoggedUser.Password"/><br /> *@
    <Label for="avatarurl">Avatar URL:</Label>
    <input type="text" id="avatarurl" name="avatarurl" required value="@Model.MyLoggedUser.AvatarUrl" /><br />
    <input type="submit" value="Update!" />
</form>

