@using ChatA.Models;
@model ChatA.Models.ViewModels.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "_layout";
}

<h1>Actual user information</h1>
<p></p>
<p><span class="badge badge-secondary">Login name:</span> @Model.MyLoggedUser.Login</p>
<p><span class="badge badge-secondary">Chat user name:</span>@Model.MyLoggedUser.UserName</p>
@*<p><span class="badge badge-secondary">Avatar URL:</span>@Model.MyLoggedUser.AvatarUrl</p>*@

@if (ViewBag.LoggedUser)
{
    <p><img src="@Model.MyLoggedUser.AvatarUrl" alt="User avatar" /></p>
}
