@using DbContextTraining.Models;
@model IndexViewModels
@{
    Layout = "_layout";
}
@Html.Partial("_Table")

<form action="" method="get">
    List only active?
    <input type="checkbox" id="IsNotDone" name="IsNotDone" value="true" />
    <Label for="IsNotDone"></Label>
    <input type="submit" value="Submit" />
</form>



