@using DbContextTraining.Models;
@model IndexViewModels
@{
    Layout = "_layout";
}
<p></p>
<form action="" method="POST">
    Create a new Assignee
    <Label for="name">Name</Label>
    <input type="text" id="name" name="name" required autofocus placeholder="name"/>
    <Label for="email">Email</Label>
    <input type="email" id="email" name="email" required placeholder="email" />
    <input type="submit" value="Submit">
</form>



