@using ChatA.Models;
@model ChatA.Models.ViewModels.IndexViewModel
@{
    Layout = "_layout";
}
<form action="login" method="POST" id="login">
    <h2>Login user</h2>
    <Label for="login">Login:</Label>
    <input type="text" id="login" name="login" required /><br />
    <Label for="password">Password:</Label>
    <input type="password" id="password" name="password" required /><br />
    <input type="submit" value="Login!" />
</form>