@using DbContextTraining.Models;
@model IndexViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Partial("_Menu")

    @RenderBody()

</body>
</html>