@using DbContextTraining.Models;
@model IndexViewModels

<h1>Todos for today:</h1>
<form action="" method="POST">
    Search for TODO
    <input type="text" id="search" name="search" placeholder="search within title or description" />
    <input type="checkbox" id="IsNotDone" name="IsNotDone" value="true" />
    <Label for="IsNotDone">Only active?</Label>
    <input type="submit" value="Search" />
</form>
<table>
    <tr>
        <th class="cell">ID</th>
        <th class="cell">TITLE</th>
        <th class="cell">DESCRIPTION</th>
        <th class="cell">ASSIGNEE</th>
        <th class="cell">DONE</th>
        <th class="cell">URGENT</th>
    </tr>
    @foreach (var todo in Model.MyTodos)
    {
        <tr>
            <td class="cell">@todo.Id</td>
            <td class="cell">@todo.Title</td>
            <td class="cell">@todo.Description</td>
            <td class="cell">@todo.Assignee.Name</td>
            @{if (todo.IsDone)
                {
                    <td class="cell">&#9989;</td>
}
                else
                {
                    <td class="cell">&#10060;</td>
}}
            @{if (todo.IsUrgent)
                {
                    <td class="cell">&#9889;</td>
}
                else
                {
                    <td class="cell">&#8764;</td>
}}
            <td class="cell"><a href="/delete?id=@todo.Id">delete</a></td>
            <td class="cell"><a href="/update?id=@todo.Id">update</a></td>
        </tr>
    }
</table>