<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Green Fox Notebook Error Reporter</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>
        Green Fox Notebook Error Reporter
    </h1>
    @RenderBody()

</body>
</html>