<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NTBErrorReporter</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

    @RenderBody()

</body>
</html>