@using FoxClub.Models;
@model IndexViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fox Club</title>
</head>
<body>
    @Html.Partial("_Menu")
    <main>
        <img src="images/greenfox.png" alt="Fox" />
        <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 22 tricks.</p>
        <h2>Known tricks</h2>
        <ul>
            <li>Write HTML</li>
            <li>Code in Java</li>
        </ul>
    </main>

</body>
</html>