@using ChatA.Models;
@model ChatA.Models.ViewModels.IndexViewModel
@{
    Layout = "_layout";
}
<form asp-action="register" method="POST" id="register">
    <h2>Register a new user</h2>
    <Label for="login">Login:</Label>
    <input type="text" id="login" name="login" required /><br />
    <Label for="password">Password:</Label>
    <input type="password" id="password" name="password" required /><br />
    <input type="submit" value="Register!" />
</form>
