@using BasicWebshop.Models;
@model BasicWebshop.Models.IndexViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FunFanWebShop</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a href="~/"><h1>Fun Fan Web Shop</h1></a>
    @Html.Partial("_Menu")

    <main>
        @{ if (Model.AverageStock != 0)
            {
                <p>
                    Average stock: @Model.AverageStock
                </p>
            }
            else if (Model.MostExpensive != null)
            {
                <p>
                    Most expensive: @Model.MostExpensive
                </p>
            }
            else
            {
                @Html.Partial("_Table")
            }
        }

    </main>
</body>
</html>
