@using BasicWebshop.Models
@model string

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FunFanWebShop</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a href="~/"><h1>Fun Fan Web Shop</h1></a>
    <nav>
        <a href="~/only-available">ONLY AVAILABLE</a>
        <a href="~/cheapest-first">CHEAPEST FIRST</a>
        <a href="~/contains-nike">CONTAINS NIKE</a>
        <a href="~/average-stock">AVERAGE STOCK</a>
        <a href="~/most-expensive">MOST EXPENSIVE AVAILABLE</a>
    </nav>
    <main>
        <p>
            Most expensive: @Model
        </p>
    </main>
</body>
</html>
