@using BasicWebshop.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FunFanWebShop</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a href="~/"><h1>Fun Fan Web Shop</h1></a>
    <nav>
        <a href="~/only-available">ONLY AVAILABLE</a>
        <a href="~/cheapest-first">CHEAPEST FIRST</a>
        <a href="~/contains-nike">CONTAINS NIKE</a>
        <a href="~/average-stock">AVERAGE STOCK</a>
        <a href="~/most-expensive">MOST EXPENSIVE AVAILABLE</a>
    </nav>
    <main>
        <table>
            <tr><th>Name</th><th>Description</th><th>Price</th><th>Quantity of stock</th></tr>
            @foreach (ShopItem item in ViewBag.Items)
            {
                <tr><td>@item.Name</td><td>@item.Description</td><td>@item.Price</td><td>@item.QuantityOfStock</td></tr>
            }
        </table>
    </main>
</body>
</html>
