@using ChatA.Models;
@model ChatA.Models.ViewModels.IndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ChatA</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/update">Update</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user">Actual user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/register" tabindex="-1" aria-disabled="true">Register</a>
        </li>
    </ul>

    @if (!ViewBag.LoggedUser)
    {
        <p>No logged user, please log in</p>
    }
    else
    {
        <p> Actual logged user is @Model.MyLoggedUser.Login with chat nickname @Model.MyLoggedUser.UserName</p>
    }


    @RenderBody()
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
