@{
    Layout = "_layout";
}
<a href="/submit">Submit new post</a>
<h1>Trending posts</h1>
<p></p>
<table>
    <tr>
        <td class="cell">count</td>
        <td class="cell">plus</td>
        <td class="cell">minus</td>
        <td class="cell">link to post</td>
    </tr>
    <tr>
        <td class="cell">count</td>
        <td class="cell">plus</td>
        <td class="cell">minus</td>
        <td class="cell">link to post</td>
    </tr>
    <tr>
        <td class="cell">count</td>
        <td class="cell">plus</td>
        <td class="cell">minus</td>
        <td class="cell">link to post</td>
    </tr>
</table>
