<nav>
    <a class="navigation" href="~/only-available">ONLY AVAILABLE</a>
    <a class="navigation" href="~/cheapest-first">CHEAPEST FIRST</a>
    <a class="navigation" href="~/contains-nike">CONTAINS NIKE</a>
    <a class="navigation" href="~/average-stock">AVERAGE STOCK</a>
    <a class="navigation" href="~/most-expensive">MOST EXPENSIVE AVAILABLE</a>
</nav>
<form action="search" method="post">
    <fieldset>
        <div>
            <label for="Search">Search:</label>
            <input type="text" name="Search" value="" />
           
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>