@using TodoApp.Models;
@model IndexViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    @Html.Partial("_Menu")

    @RenderBody()

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>