<div >
    <nav class="navbar navbar-light bg-light justify-content-between" style="background-color: #e3f2fd;">
        <a class="btn btn-outline-success col-2 " role="button" href="~/">List All TODOs</a>
        <a class="btn btn-outline-success col-2 " role="button" href="~/create">Create TODO</a>
        <a class="btn btn-outline-success col-2 " role="button" href="~/assignees">Assignees</a>
    </nav>
</div>
