@using OurFirstWebApp.Models.ViewModels
@model IndexViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p>
        Hello, @Model.MyGreeting.Name! This site was loaded @Model.Counter times since last server start.
    </p>
</body>
</html>
