<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ChatA</title>
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="~/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    @RenderBody()
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>